@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  /* box-sizing: border-box; */
}
body {
  background-color: #fffcf7;
}
body .refrenceButton {
  display: none;
  width: 2.5rem;
  height: 2.5rem;
  color: #000;
  background-color: #ff5b31;
  border-radius: 10px;
  position: fixed;
  bottom: 4rem;
  right: 4rem;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.refrenceButton.show {
  display: block;
}

body .refrenceButton svg {
  width: 1.8rem;
  height: 1.8rem;
  padding: 5px 0 0 5px;
}
nav {
  display: flex;
  /* justify-content: center; */
  justify-content: space-evenly;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: #fffcf7;
  z-index: 999;
}
nav div ul {
  display: flex;
  gap: 2rem;
}
nav div ul li,
a {
  text-decoration: none;
  list-style: none;
  color: #8c321b;
  font-weight: 600;
}

nav button {
  background-color: #ff5b31;
  font-size: 17px;
  font-weight: 500;
  padding: 10px 28px;
  border-radius: 8px;
  color: white;
  border: 0;
}

nav #drawerLogoDiv {
  display: none;
}

#mobileDrawer {
  background-color: white;
  width: 100%;
  height: 100%;
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  max-width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 7rem;
  transform: translateX(-100%);
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
  box-shadow: 10px 0 50px -10px rgba(0, 0, 0, 0.5);
}

#mobileDrawer.open {
  transform: translateX(0);
  opacity: 1;
}

#mobileDrawer #DrawerCloseButton {
  background: none;
  border: 0;
  font-size: x-large;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-weight: 700;
}

#mobileDrawer  li {
  list-style: none;
}

#mobileDrawer  a {
  color: #000;
  /* padding-left: -100px; */
}

main #mainDiv {
  width: 1200px;
  /* min-width: 80%; */
  margin: 0 auto;
  /* background-color: #1B1B1B; */
  display: flex;
  flex-wrap: wrap;
  gap: 4%;
  padding: 3% 0;
}

main .card {
  background-color: #ffffff;
  width: 29%;
  margin-bottom: 3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.55rem;
  border-radius: 1rem;
  box-shadow: 0 0 10px -1px rgb(224, 224, 224);
  border: 1px solid rgb(243, 243, 243);
}

main .upperCard {
  margin: 0;
  padding: 0;
}
main .upperCard #UpperCardHeadings{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main .upperCard #UpperCardHeadings p{
  text-align: center;
}
main .card:hover {
  box-shadow: 0px 0px 10px 3px #ff5b31;
  transition: all 1s ease;
  border: 1px solid rgb(230, 230, 230);
}

main .card img {
  width: 95%;
  padding: 5%;
  border-radius: 2em;
}

main .clubBanner {
  margin-left: -2.5%;
}

.personLogo {
  width: 11%;
  border-radius: 50%;
}

main .innerDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #8C321B; */
}
main .innerDiv button {
  background-color: #ff5b31;
  border: none;
  font-size: x-large;
  color: white;
  border-radius: 50%;
  transform: rotate(-45deg);
  margin-right: -165px;
}

main .innerDiv #image1 {
  width: 11%;
  border-radius: 50%;
  margin-left: -155px;
  margin-right: -91px;
}

main .innerDiv #image2 {
  width: 11%;
  border-radius: 50%;
  margin-right: -91px;
}
main .innerDiv #image3 {
  width: 11%;
  border-radius: 50%;
}

main .innerDiv #innerDivParagraph {
  margin-left: 30px;
  margin-right: 100px;
  text-align: center;
}

footer {
  background-color: #1b1b1b;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  padding: 5% 2% 7% 2%;
}
footer div {
  padding: 1rem;
}

footer a {
  color: #b8b8b8;
  font-weight: 400;
  font-size: 0.9rem;
}
footer a:hover {
  color: #dedede;
}
footer li {
  list-style: none;
}

footer #Socials {
  display: flex;
  gap: 1rem;
  color: white;
}
footer #Socials svg {
  width: 1.4rem;
  height: 1.4rem;
  cursor: pointer;
}
footer #Socials svg:hover {
  fill: #ff5b31;
}
footer h3 {
  color: #dedede;
 padding-left: 2.5rem;

}
footer div li img {
  width: 25px;
}
footer div li a {
  fill: #000;
  transition: fill 0.3s; /* Smooth transition */
}
footer div li a:hover {
  color: white;
}

footer #mobilePolicies {
  display: none;
}

footer .item6 {
  display: none;
}

#mobileFooter {
  display: none;
}

@media screen and (min-width: 992px) and (max-width: 1400px) {
  main #mainDiv {
    width: 900px;
    /* background-color: #000; */
    justify-content: center;
  }
  main .card {
    width: 40%;
  }
}

@media screen and (max-width: 992px) {
  main #mainDiv {
    width: 500px;
    /* background-color: #000; */
    justify-content: center;
  }
  main .card {
    width: 72%;
    margin: 1rem 0;
  }
}

@media screen and (min-width: 646px) and (max-width: 1024px) {
  footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (min-width: 500px) and (max-width: 816px) {
  nav #navDiv,
  #buttonDiv {
    display: none;
  }
}

@media screen and (max-width: 499px) {
  body {
    background-color: #fffcf7;
  }
  /* Mobile Responsive */
  nav #navDiv,
  #buttonDiv {
    display: none;
  }

  nav #drawerLogoDiv {
    display: inline-block;
    /* max-width: fit-content; */
  }
  nav {
    display: flex;
    width: 31.2rem;
    justify-content: space-between;
  }

  nav #drawerImage {
    width: 35px;
    /* margin-right: -10rem; */
  }

  nav #navLogo {
    padding: 1rem;
  }

  main .upperCard {
    display: flex;
    gap: 0px;
  }

  main .card img {
    width: 100%;
    border-radius: 0.8em;
    margin-left: 0.05rem;
  }

  main #clubBannerDiv {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  main #UpperCardHeadings {
    padding-left: 0.8rem;
    width: 60%;
  }

  #desktopFooter {
    display: none;
  }
  #mobileFooter {
    width: 30.9rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #mobileFooter .item2 {
    display: flex;
    justify-content: space-between;
  }
  #mobileFooter .item2 {
    display: flex;
    justify-content: flex-start;
  }
  #mobileFooter .item4 {
    padding-right: 3.5rem;
  }
  #mobileFooter .item5 {
    display: flex;
  }
  main .upperCard #UpperCardHeadings{
    display: block;
  }
  main .upperCard #UpperCardHeadings p{
    text-align: left;
  }
  main .upperCard #UpperCardHeadings h6{
    text-align: left;
  }
}

@media screen and (max-width: 647px) {
  footer #mobilePolicies {
    display: inline-block;
  }
  footer #mobilePolicies ul {
    display: flex;
    gap: 4px;
  }
  footer #divPolicies {
    display: none;
  }
  footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
